.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 100px);
}

.mainSubsection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5rem 4rem 0 2rem;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.title span {
  color: var(--highlight);
}

.text {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 2rem 0;
  width: 70%;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1.2rem;
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  margin-right: 2rem;
  text-decoration: none;
}

.button:hover,
.highlightBg {
  background: var(--highlight);
  border: 1px solid var(--highlight);
  color: black;
}

.button:global {
  animation: springback 400ms ease forwards;
}

.button:hover:global {
  animation: spring 400ms ease forwards;
}

.imageSubsection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 5rem 2rem 0 4rem;
}

.image {
  width: 512px;
  height: 281px;
  margin-bottom: 5rem;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.quote {
  font-size: 1.1rem;
  font-weight: 300;
  color: #aaa;
  text-align: end;
  width: 70%;
}

.quoteText {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.quoteAuthor {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--highlight);
}

@media screen and (max-width: 1024px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .mainSubsection {
    padding: 2rem;
    width: 100%;
    height: auto;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  .text {
    font-size: 1rem;
    width: 100%;
  }

  .buttons {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1rem;
    width: 100%;
  }

  .button {
    margin-bottom: 1rem;
    width: 100%;
  }

  .imageSubsection {
    padding: 2rem;
    width: 100%;
    height: auto;
  }

  .image {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }

  .quote {
    font-size: 0.8rem;
    width: 100%;
  }
}
