.header {
  background-color: var(--color-primary);
  color: #fff;
  padding: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  height: 50px;
  width: auto;
  z-index: 1;
}

.navDesktop {
  display: flex;
  align-items: center;
}

.navLink {
  position: relative;
  color: white;
  margin-right: 20px;
  font-size: 1.3rem;
  text-decoration: none;
  transition: all 300ms ease-out;
  padding-bottom: 0.3rem;
}

.navLink:hover,
.navLink.active {
  color: var(--highlight);
}

.navLink::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  border-bottom: 5px solid transparent;
  transition: width 300ms ease-out;
}

.navLink:hover::before,
.navLink.active::before {
  width: 100%;
  border-color: var(--highlight);
}

@media screen and (max-width: 768px) {
  .container {
    justify-content: center;
  }
  .navDesktop {
    display: none;
  }
  .navLink {
    color: black;
  }
}
